<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewprt" content="width=device-width, initial-scale=1.0">
    <title> Diagnose MS Application</title>
</head>
{% load static %}
<body>
    <form method="post", action="{% url 'page3' %}">
        <p>1. How many lesions are there in your brain MRI image?
            <input type="number" name="Number" required><br></p>
        
        <p>2. Identify the location of the lesions in your brain MRI image using the image below.<br></p>
        <input type="checkbox" name="one" id="one" value="yes">
        <label for="one">1</label>
        <input type="checkbox" name="two" id="two" value="yes">
        <label for="two">2</label>
        <input type="checkbox" name="three" id="three" value="yes">
        <label for="three">3</label>
        <input type="checkbox" name="four" id="four" value="yes">
        <label for="four">4</label>
        <input type="checkbox" name="five" id="five" value="yes">
        <label for="five">5</label><br>
        <input type="checkbox" name="six" id="six" value="yes">
        <label for="six">6</label>
        <input type="checkbox" name="seven" id="seven" value="yes">
        <label for="seven">7</label>
        <input type="checkbox" name="eight" id="eight" value="yes">
        <label for="eight">8</label>
        <input type="checkbox" name="nine" id="nine" value="yes">
        <label for="nine">9</label>
        <input type="checkbox" name="ten" id="ten" value="yes">
        <label for="ten">10</label><br>

        <img src="{% static 'images/brain.png' %}" alt="MRI image" width="500" height="400"><br>

        
        <button type="submit">Submit</button>
      </form>     

    </form>     

      <form>
        <h1>Result</h1>
        <h1> {{Suggestion}}</h1>

      </form>   
</body>
</html>
