<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewprt" content="width=device-width, initial-scale=1.0">
    <title> Diagnose MS Application</title>
    <style>
  
      body {
        text-align: center;
        font-family: Calibri, sans-serif;
      }
      h1 {
        font-size: 24px;
      }
    </style>
</head>
{% load static %}
<body>
  <div class= 'c'>
    <p><h1>Multiple Sclerosis</h1></p>
    <br>
    <br>
  </div>
    <form method="post", action="{% url 'page3' %}">
        <p>1. How many lesions are there in your brain MRI image?
            <input type="number" name="Number" required><br></p>
        
        <p>2. Identify the location of the lesions in your brain MRI image using the image below.<br></p>
        
        <input type="checkbox" name="one" id="one" value="yes">
        <label for="one">Cerebrum</label>
        <br><br>
        <input type="checkbox" name="two" id="two" value="yes">
        <label for="two">Cerebellum</label>
        <br><br>
        <input type="checkbox" name="three" id="three" value="yes">
        <label for="three">Brainstem</label>
        <br><br>
        <input type="checkbox" name="four" id="four" value="yes">
        <label for="four">Thalamus</label>
        <br>
        <br>
        <input type="checkbox" name="five" id="five" value="yes">
        <label for="five">Hypothalamu</label>
        <br>
        <br>
        <input type="checkbox" name="six" id="six" value="yes">
        <label for="six">Hippocampu</label>
        <br>
        <br>
        <input type="checkbox" name="seven" id="seven" value="yes">
        <label for="seven">Amygdala</label>
        
        <br>
        <br>
        <button type="submit">Submit</button>
      </form>     

    </form>     

      <form>
        <h1>Result</h1>
        <h1> {{Suggestion}}</h1>

      </form>   
</body>
</html>
